.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkboxs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    display: block;
    text-align: center;
}
.m0a {
    margin: 0 auto;
}
.ml {
    margin-left: 120px;
}
.mbmt {
    margin-top: 7px;
    margin-bottom: 7px;
}